.ContainerNewPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .newResetPassword {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 40rem;
    width: 80rem;
    padding: 2rem;
    border: 1px solid black; 
    border-radius: 2rem;
    box-shadow: 0 6px 10px 0 rgba(38, 33, 33, 0.2);
  }

  .newResetPassword h2{
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .newPasswordGroup{
    width: 25rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.resetPasswordButton {
    /* Styles for the sign-up button */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 25rem;
    margin: 1rem auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    background: #472710;
    font-size: 1.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
    color: white;
}

.resetPasswordButton:hover {
    transform: scale(1.05);
    background: #472710;
    color: white;
}

.password-input-wrapper {
    display: flex;
    position: relative;
}

/* Adjust the positioning of the input field and the button */
.password-input-wrapper input {
    flex: 1;
}

.toggle-password-button {
    border: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    background: none;
    color: #007bff;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.errorAlert{
    margin-top: 2rem;
    width: fit-content;
    margin: 0 auto; 
    text-align: center; 
}