body{
    text-align: center;
    align-items: center;
}

.containerPasswordResetRequest {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  .passwordResetRequest {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 40rem;
    width: 80rem;
    padding: 2rem;
    border: 1px solid black; 
    border-radius: 2rem;
    box-shadow: 0 6px 10px 0 rgba(38, 33, 33, 0.2);
  }
  


.passwordResetRequest h2{
    font-size: 3rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.emailSend{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    height: 3rem;
    width: 30rem;
    padding: 1rem;
    font-size: 14px;
}

.inputs::placeholder {
    font-size: 14px;
    text-align: center;
  }

.resetPasswordBtn{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 14rem;
    margin: 1rem auto;
    border-radius: 2rem;
    background: rgb(101,50,23, 0.97);
    font-size: 1.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
}

.resetPasswordBtn:hover {
    transform: scale(1.02);
    background: rgb(101,50,23, 0.97);
    color: white;
}


.alertMessage {
    margin-top: 2rem;
    width: fit-content;
    margin: 0 auto; 
    text-align: center; 
}
  